/* FONTS */

$font-family-primary: 'Raleway', sans-serif;

/* COLORS */

$color-primary: #2c6456;
$color-secondary: #f6bc4b;

$color-purple: #961f6b;
$color-neutral: #fff;
$color-neutral_darken: #e5e5e5;
$color-wheat_light: #fff1e5;
$color-wheat_darken: #fbe6d5;
$color-dark: #1a3f39;
